/* Carrussel index */


.carrusel {
  @include flexcenter;
  margin-top: -50px;
  position: relative;
  img{
    opacity:0;
    height: 85vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: 25% 10%;
    filter: grayscale(1);
    z-index: -10;
  }
  h1 {
    @include title;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    letter-spacing: 10px;
    margin:40vh 0px;
  }
}

@keyframes carrusel {

0%{
  opacity: 1;
}
20%{
  opacity: 1;
}
21%{
  opacity: 0;
}
100%{
  opacity: 0; 
}
}