/* Discos */

.divDiscos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 40px;
}

.disco {
  height: 100%;
  width: 90%;
  text-align: center;
  text-decoration: none;
  background-color: $color1;
  border-radius: 3px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  a {
    color: $color2;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      height: 40px;
      font-size: 1.2rem;
    }
  }

  :hover {
    background-color: #ab7a10;
    border-radius: 3px;
  }

  img:hover {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}



/* pag disco */

.tituloDisco {
  color: $color1;
  text-align: center;
}

.pagDisco {
  display: grid;
  grid-template-areas: "img" "div" "aside";

  aside {
    grid-area: aside;
  }

  div {
    grid-area: div;
    color: $color1;
    text-align: center;
    align-self: center;
    padding: 10px 40px;
  }

  img {
    grid-area: img;
    width: 50%;
    justify-self: center;
    margin: 10px;
  }
}

@media (min-width: 767px) {
  .pagDisco {
    display: grid;
    grid-template-areas: "img div" "img div" "aside aside";

    img {
      width: 400px;
    }
  }
}