/* quienes somos index */

.divQuienesSomos {
  display: grid;
  grid-template-areas: "img" "h2" "p";
  margin: 30px;
  gap: 30px;
  align-self: center;

  h2 {
    @include title;
    grid-area: h2;
    align-self: center;
    justify-self: center;
    color: $color1;
    font-size: 2rem;
  }

  p {
    grid-area: p;
    color: $color1;
    font-size: 0.8rem;
    text-align: center;
  }

  img {
    grid-area: img;
    width: 100%;
    border-radius: 10px;
  }
}